.icon img {
    width: 44px;
    height: 44px;
}

nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content div {
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    width: fit-content;
}

h2, h4 {
    margin: 10px;
}